.App {
  text-align: center;
  
}



.App-header {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  padding: 20px;
  background-color: #282c34;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.lists{
  list-style: none;
  margin: 2px;
  display: flex;
}

.cross{
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
}
.cross:hover{
  color: red;
  list-style: none;
  margin-right: 40px;
  cursor: pointer;
}
.lists{
  list-style: none;
  margin: 2px;
}

.inputs{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
}
.addbtn{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
}
.addbtn:hover{
  background-color: yellowgreen;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
}